<h1>Register form</h1>

<div class="form">
  <div>Name: <input type="text" name="name" /></div>
  <div>Email: <input type="email" name="email" /></div>
  <div>Password: <input type="password" name="password" /></div>
  <div><button type="submit">Submit</button></div>
</div>
